 
<article class="five_fifth lastbox">
	<br>

<div class="fb-like-box" data-href="http://www.facebook.com/campanhajocelio?ref=hl" data-width="950" data-show-faces="true" data-stream="false" data-header="true"></div>

<div>
	
<g:plusone size="standard" annotation="bubble"></g:plusone>
<script type="text/javascript">
  window.___gcfg = {lang: 'pt-BR'};

 (function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  </script>
	</div

</article>