<!-- / Introduction -->
<!-- ########################################################################################## -->
<!-- Services -->
<section id="services" class="last clear">

    <figcaption>
        <h2>Agenda do Candidato</h2>
        <p>Visita a Vila São José - 10/08/2012</p>
          <p>Caminha no Bairro Cacimba do Povo - 18/08/2012 - 10:00</p>
         <p>Caminha da Juventude na Avenida Cel. Pompeu com o candidato a Prefeito Ivan - 18/08/2012 - 18:00</p>
         <p>Agenda 19/08/2012</p>
         <ul>
<li>Visita na Localidade de Pedra REdonda com o Candidato a Vereador Jocéçio Gondim, saída as 9:00</li>
<li>
Caminha no Bairro Cacimba do Povo com o Candidato a Prefeito Ivan 12, com comicio em frente a casa do Candidato Jocélio Gondim
</li>
         </ul>
         <p>Agenda 23/08/2012</p>
         <ul>
<li>Reunião com grupo de Resgate e Guarda Municipal - 17:00, na residência do Candidato</li>
<li>Reunião com o lider comunitário Marcos Paulo, na quadra do Colégio Intituto São José - 20:00</li>
         </ul>
         <p>Agenda 26/08/2012</p>
         <ul>
         	<li>Reunião na localidade de Cajazeiras com Jão Paulo - 9:00 </li>

         </ul>
         <p>Agenda 02/09/2012</p>
         <ul>
<li>Reunião localidade Quinderé, na residência do Nazário - 9:00 </li>
         </ul>
        
    </figcaption>

    </article>

</section>
<!-- / Services -->
