 <nav id="topnav" class="clear">
    <ul>
      <li>
         <%= link_to admin_posts_path do %>
              HOME 
            <% end %></li>
      <li><a href="style-demo.html">Style Demo</a></li>
      <li class="active"><a href="full-width.html">Full Width</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="#">DropDown</a>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </li>
      <li><a href="#">A Long Link Text Here</a></li>
      <li class="last"><a href="#">Link Text</a></li>
    </ul>
  
  </nav>