<!-- Introduction -->
<section id="intro" class="clear">
	 <% @galleries.each do |gallery| %>
	<article class="one_fifth lastbox">
		
		   <%= image_tag gallery.foto.url(:thumb) , :size => "166x130" %>
			

		<h2><%= gallery.nome %></h2>
		
	
		
	
	</article>
		<% end %>
	
	
	
	
</section>
<!-- / Introduction -->