<!-- Introduction -->
<section id="intro" class="clear">
	<% @galleries.each do |gallery| %>
	<article class="one_fifth lastbox">

		<a href="<%= image_path gallery.foto.url %>" rel="lightbox[roadtrip]" title="<%= gallery.nome%> "> 
		    <%= image_tag gallery.foto.url(:thumb), :size => "166x130"  %></a>

	</article>
	<% end %>
	
	<div align="center">
	      <%= will_paginate @galleries %>
	</div>
	 

  
        

</section>
<!-- / Introduction -->