<!-- Introduction -->
<section id="intro" class="clear">
	<% @galleries.each do |gallery| %>
	<article class="one_fifth lastbox">

		<a href="<%= image_path gallery.foto.url(:original) %>" rel="lightbox[roadtrip]" title="<%= gallery.nome%> "> <%= image_tag gallery.foto.url(:thumb) %></a>

	</article>
	<% end %>

</section>
<!-- / Introduction -->