<!-- Introduction -->
<section id="intro" class="clear">
	 <% @galleries.each do |gallery| %>
	<article class="one_fifth">
		
		<a href="/galleries" title="veja galeria completa">
			<%= image_tag gallery.foto.url(:thumb)  %>
			
			</a>
		<h2><%= gallery.nome %></h2>
		
		<footer class="more">
			<a href="galleries" title="página de fotos">Visite a galeria &raquo;</a>
		</footer>
		
	
	</article>
		<% end %>
	
	
	
	
</section>
<!-- / Introduction -->


