 <div id="footer">
    <div class="faux clear">
      <div class="footbox">
        <h2>Ùltimas notícias</h2>
        <ul>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Suspendisse in neque</a></li>
          <li><a href="#">Praesent et eros</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Suspendisse in neque</a></li>
          <li class="last"><a href="#">Praesent et eros</a></li>
        </ul>
      </div>
      <div class="footbox">
        <h2>Propostas</h2>
        <p>Conguequam tempor moles uada leo at orci loborta disse intesque leo elis. Etenim congue sapien natis ultris vel euis fauctor at sapibus tempus. Tricesut aenean curabitae aliquam urna.</p>
      </div>
      <div class="footbox">
        <h2>Agenda</h2>
        <ul>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Suspendisse in neque</a></li>
          <li><a href="#">Praesent et eros</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Suspendisse in neque</a></li>
          <li class="last"><a href="#">Praesent et eros</a></li>
        </ul>
      </div>
      <div class="footbox last">
        <h2>Twitter</h2>
        <ul>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Suspendisse in neque</a></li>
          <li><a href="#">Praesent et eros</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Suspendisse in neque</a></li>
          <li class="last"><a href="#">Praesent et eros</a></li>
        </ul>
      </div>
    </div>
  </div>
  