<div id="footer" class="clear">

<section class="one_quarter">
<h2 class="title">Notícias do Blog</h2>
<article>
<header>
<h2>Post Title</h2>
<address>
	<a href="#">Admin</a>, domainname.com
</address>
<time datetime="2000-04-06">
	Friday, 6<sup>th</sup> April 2000
</time>
</header>
<p>
Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. 
</p>
<footer class="more">
<a href="#">Read More &raquo;</a>
</footer>
</article>
</section>
<section class="one_quarter">
<h2 class="title">Quick Links</h2>
<nav>
<ul>
			
<li>
	<a href="#">Aliquam eget erat nec sapien</a>
</li>
<li>
	<a href="#">Cras id augue nunc</a>
</li>
<li class="last">
	<a href="#">Sed a nulla urna</a>
</li>
</ul>
</nav>
</section>
<section class="one_quarter">
<h2 class="title">From The Gallery</h2>
<div class="ft_gallery clear">
	<% @galleries_footer.each do |g| %>

         <%= image_tag(g.foto.url(:thumb), :size => "100x70") %>
	<% end %>


</div>
</section>
<section class="one_quarter lastbox">
<h2 class="title">Facepile</h2>
<div class="ft_tweets">
<ul>

<li>
	<div class="fb-facepile" data-href="http://www.facebook.com/campanhajocelio?ref=hl" data-max-rows="4" data-width="209"></div>

</li>
</ul>
</div>
</section>
<!-- ########################################################################################## -->
</div>
