<div id="footer" class="clear">
	<!-- ########################################################################################## -->
	<section class="one_quarter">
		<h2 class="title">Notícias do Blog</h2>
		<article>
			<header>
				<h2>Post Title</h2>
				<address>
					<a href="#">Admin</a>, domainname.com
				</address>
				<time datetime="2000-04-06">
					Friday, 6<sup>th</sup> April 2000
				</time>
			</header>
			<p>
				Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. 
			</p>
			<footer class="more">
				<a href="#">Read More &raquo;</a>
			</footer>
		</article>
	</section>
	<section class="one_quarter">
		<h2 class="title">Quick Links</h2>
		<nav>
			<ul>
							
				<li>
					<a href="#">Aliquam eget erat nec sapien</a>
				</li>
				<li>
					<a href="#">Cras id augue nunc</a>
				</li>
				<li class="last">
					<a href="#">Sed a nulla urna</a>
				</li>
			</ul>
		</nav>
	</section>
	<section class="one_quarter">
		<h2 class="title">From The Gallery</h2>
		<div class="ft_gallery clear">
			

		</div>
	</section>
	<section class="one_quarter lastbox">
		<h2 class="title">Tweets Diversos</h2>
		<div class="ft_tweets">
			<ul>
				
				<li>
					<a href="#">@namehere</a> Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago
				</li>
			</ul>
		</div>
	</section>
	<!-- ########################################################################################## -->
</div>
