  <div id="topbar" class="clear">
      <ul>
        <li class="active"><a href="/home">Home</a></li>
           <li><a href="#">Agenda</a> </li>
        <li><a href="#">Blog</a></li>
       
     
           <li><a href="/contacts">Contatos</a></li>
       
        <li><a href="galleries">Fotos</a></li>
       
        <li class="last"><a href="#">Propostas</a></li>
      </ul>
      <form action="#" method="post" id="search">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="images/submit.gif" alt="Submit" />
        </fieldset>
      </form>
    </div>
    <div id="logo">
     
      <p><a href="/home"> <img src="../images/banner_jocelio2.jpg" alt="democratas" height="80px" /></a></p>
    </div>