  	<nav id="topnav" class="clear">
			<ul>
				<li class="active">
					<a href="/home">Home</a>
				</li>
				<li>
					<a href="/agendas">Agenda</a>
				</li>
				<li>
					<a href="/posts">Blog</a>
				</li>
				<li>
					<a href="/contacts">Contatos</a>
				</li>
				<li>
					<a href="/galleries">Fotos</a>
				</li>
				
				<li>
					<a href="/propostas">Propostas</a>
				</li>
				
			</ul>
		</nav>
		