   <div class="subnav">
        <h2>Menu Navegação</h2>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/agenda">Agenda</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contacts">Contato</a>
           
          </li>
          <li><a href="#">Campanha</a>
           
          </li>
          <li><a href="#">Fotos</a></li>
          <li><a href="/home">Propostas</a></li>
        </ul>
      </div>
     
      <div id="featured">
        <ul>
          <li>
            <h2>Publicidade</h2>
            <p class="imgholder"><img src="../images/demo/240x90.gif" alt="" /></p>
           
          </li>
        </ul>
      </div>
      