	<!--sub menu de navegação-->
	
	 <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/agenda">Agenda</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contacts">Contato</a>
           
          </li>
          <li><a href="#">Campanha</a>
           
          </li>
          <li><a href="/galleries">Fotos</a></li>
          <li><a href="/home">Propostas</a></li>
        </ul>



 