<!-- / Introduction -->
<!-- ########################################################################################## -->
<!-- Services -->
<section id="services" class="last clear">

	<figcaption>
		<h2>Propostas do Candidato</h2>
		<h3>Solicitar do executivo através de requerimentos e projetos a criação da secretaria municipal de segurança pública:</h3>

		<ul>
			<li>
				<p>
					A segurança pública municipal pode ser criada através de decreto; organizada e estruturada tendo como atribuições básicas:
					Estabelecer as políticas, diretrizes e programas de segurança pública no município e através de seus órgãos, executar as políticas públicas de segurança.
					Compete, ainda, a secretaria estabelecer relação com os órgãos de segurança estaduais e federais, visando a ação integrada no município e propondo  as prioridades nas ações do policiamento investigativo, preventivo e ostensivo realizados pelos órgãos de segurança pública, através do  intercâmbio permanente de informações e gerenciamento;
				</p>
			</li>
		</ul>
		<h2> A construção do centro de abastecimento de Aracati(Um novo mercado público):</h2>
		<ul>
			<li>

				Há 16 anos a feira é feita no meio da rua Agapito dos Santos, complicando o trânsito local, sem falar dos feirantes que sofrem com sol e chuva , não tendo um local digno para realizar seu trabalho. A proposta é criar um  espaço para armazenamento das mercadorias , higiene e outros itens de necessidade básica propiciando melhores condições de trabalho;
			</li>
		</ul>
		<h2>A vinda da regional do Detran-Ce:</h2>
		<ul>
			<li>

				Aracati é uma cidade polo e as pessoas tem que se deslocarem até a cidade de Russas ou Fortaleza para tirar sua habilitação ou resolver outros problemas pertinentes a documentação de veículos. Aracati merece uma regional do Detran-Ce;
			</li>
		</ul>
		<h2> A construção de um centro de tratamento para dependentes químicos em tempo integral:</h2>
		<ul>
			<li>

				Muitas famílias estão sendo assoladas pelas drogas e esses jovens precisam de ajuda, pois acredito que exista recuperação. O que falta é uma atenção maior dos governantes e da sociedade em geral;
			</li>
		</ul>
		<h2> O fortalecimento do grupamento de resgate da Guarda municipal de Aracati: </h2>
		<ul>
			<li>

				Com a ampliação do serviço, utilizando duas equipes, tripulando duas ambulâncias grandes , atendendo toda a população em casos de urgência e emergência.
			</li>
		</ul>
		<h2> Organizar o trânsito de forma planejada, feito pela engenharia de trânsito:</h2>
		<ul>
		    <li>
		     Organizar o trânsito de forma planejada, feito pela engenharia de trânsito, asfaltar as principais avenidas para que o trânsito em nossa cidade tenha maior segurança.  
   
		    </li>
		</ul>
		
	</figcaption>

	</article>

</section>
<!-- / Services -->
